
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 18, 255);
}

/*https://www.color-hex.com*/

/*CABEÇALHO, BANNER E PERFIL*/
.cabecalho{
    background-color: transparent;
    border-bottom: 2px solid #ffff;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
}

.perfil-container{
    text-align: center;
    padding: 0, 20px;
}

.img-banner{
    width: 100%;
    height: 180px;
    object-fit: cover;
     line-height: 1.5;
}

.img-perfil{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    background-color: black;
    margin-top: -70px;
    border: 4px solid rgb(0, 0, 255)
}