
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 18, 255);
}

p{
    text-align: center;
    padding-bottom: 10px;
}

/*https://www.color-hex.com*/

/*CABEÇALHO, BANNER E PERFIL*/
.cabecalho{
    background-color: transparent;
    border-bottom: 2px solid #ffff;
    padding-bottom: 0;
    height: 200px;
}

.perfil-container{
    text-align: center;
    padding: 0, 20px;
    bottom: 20px;
}

.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-perfil{
    text-align: center;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    background-color: black;
    margin-top: -70px;
    border: 8px solid rgb(255, 255, 255)
}

/* ===========================
Container e botoes de redes sociais
============================== */

botoes-container {
    display: flex;             
    justify-content: center;   
    gap: 12px;                 
    margin-top: 16px;          
}

a {
    color: #ffffff;
    text-align: center;
}

    .btn{
    display: inline-block;
    padding: 8px 20px;          /* Espaçamento interno (8px cima/baixo, 20px laterais) */
    border-radius: 6px;         /* Arredonda os cantos dos botões */
    text-decoration: none;      /* Remove o sublinhado padrão dos links */
    font-weight: 600;           /* Deixa o texto do botão levemente em negrito */
    font-size: 0.9rem;
    color: #ffffff;             /* Cor do texto do botão */
    transition: all 0.3s ease;  /* Suaviza a animação de passar o mouse */
}

/* 3. Cores específicas de cada rede social */
.btn-github {
    background-color: #24292e;  /* Tom escuro oficial do GitHub */
    border: 1px solid #444c56;
}

.btn-linkedin {
    background-color: #0a66c2;  /* Azul oficial do LinkedIn */
}